@using ColourCoordination.Controllers
@{
    Layout = "~/Views/shared/_Layout.cshtml";
}
@model ColourCoordination.Models.Outfit

<div class="colour-content">
    <form action="@(Url.Action("PostSetShirtColor"))" method="post">
        <img src="https://ficardo-weddings.com/images/tshirt-drawing/white-t-shirt-essential.jpg" />
        <select>
            <option name="@Html.NameFor(x => x.ShirtColor)" value="red">Red</option>
            <option name="@Html.NameFor(x => x.ShirtColor)" value="green">Gren</option>
            <option name="@Html.NameFor(x => x.ShirtColor)" value="blue">Bloo</option>
            <option name="@Html.NameFor(x => x.ShirtColor)" value="yellow">Yell-o</option>
            <option name="@Html.NameFor(x => x.ShirtColor)" value="orange">Oranj</option>
            <option name="@Html.NameFor(x => x.ShirtColor)" value="purple">Prupul</option>
        </select>
        
        <input type="submit" value="El Clicko">
    </form>
</div>